<%= render "shared/navibar" %>
<div class="container-contents">
  <%= render "top/items/main" %>
  <%= render "top/items/wanted" %>
  <%= render "top/items/myskill" %>
  <%= render "top/items/profile" %>
</div>
<%= render "shared/footer" %>