<%= render "shared/navibar" %>
<div class="container-contents">
  <div class="container-width_adjuster">
  
    <%= render "shared/notice" %>
    
    <div class="regist-header">
      <h2>新規登録</h2>
      既にアカウントをお持ちの方は <a href="<%= new_user_session_url %>">こちらからログイン</a>
    </div>
    
    <div class="regist-main">
      <%= devise_error_messages! %>
    
      <div class="regist-form col-xs-12 col-md-6">
        <div class="regist-email">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <h3>メールアドレスで登録</h3>
            
            <table>
              <tr>
                <td>
                  <%= f.email_field :email, placeholder: "メールアドレス", class: "regist-input_field" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード（半角6文字以上）", class: "regist-input_field" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "パスワード（再入力）", class: "regist-input_field" %>
                </td>
              </tr>
            </table>
            <%= f.submit "登録する", class: "btn-regist_submit" %>
            <div class="email_footer">
              <a href="<%= new_confirmation_url(resource_name) %>">確認メールが届かない方はこちら</a>
            </div>
          
          <% end %>
        </div>
      </div>
      
      <div class="regist-form col-xs-12 col-md-6">
        <div class="regist-facebook">
          <h3>Facebookアカウントで登録</h3>
          
          <div class="facebook_area">
            <a href=<%= user_facebook_omniauth_authorize_url %> class="btn-facebook">
              <i class="btn-icon_box fa fa-facebook" aria-hidden="true"></i>
              <p>Facebookで登録</p>
            </a>
          </div>
          
          <div class="facebook_explain">
            当サイトではFacebookアカウントはログイン認証のみに使用しており、許可なくFacebookに投稿することはありません。
          </div>
        </div>
      </div>
    
    </div>
    
    <div class="regist-footer">
      情報管理の観点から詳細については登録ユーザーのみに限定して公開させて頂いております。ご不便をお掛けしますが何卒ご了承ください。
    </div>
  
  </div>
</div>