<%= render "shared/navibar" %>
<div class="container-contents">
  <%= render "career/resume/header" %>
  <%= render "career/resume/history" %>
  <%= render "career/resume/others" %>
</div>
<%= render "shared/footer" %>