<%= render "shared/navibar" %>
<div class="container-contents">
  <div class="container-width_adjuster">
  
    <%= render "shared/notice" %>
    
    <div class="regist-header">
      <h2>ログイン</h2>
      アカウントをお持ちでない方は <a href="<%= new_user_registration_url %>">こちらから登録</a>
    </div>

    <div class="regist-main">
      <%= devise_error_messages! %>
    
      <div class="regist-form col-xs-12 col-md-6">
        <div class="regist-email">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h3>メールアドレスでログイン</h3>
            
            <table>
              <tr>
                <td>
                  <%= f.email_field :email, placeholder: "メールアドレス", class: "regist-input_field" %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "regist-input_field" %>
                </td>
              </tr>
              <tr>
                <td>
                  <% if devise_mapping.rememberable? %>
                    <%= f.check_box :remember_me %>パスワードを保存する
                  <% end %>
                </td>
              </tr>
            </table>
            <%= f.submit "ログイン", class: "btn-regist_submit" %>
            <div class="email_footer">
              <a href="<%= new_password_url(resource_name) %>">パスワードを忘れた方はこちら</a>
            </div>
          
          <% end %>
        </div>
      </div>
      
      <div class="regist-form col-xs-12 col-md-6">
        <div class="regist-facebook">
          <h3>Facebookアカウントで認証</h3>
          
          <div class="facebook_area">
            <a href=<%= user_facebook_omniauth_authorize_url %> class="btn-facebook">
              <i class="btn-icon_box fa fa-facebook" aria-hidden="true"></i>
              <p>Facebookで認証</p>
            </a>
          </div>
          
          <div class="facebook_explain">
            当サイトではFacebookアカウントはログイン認証のみに使用しており、許可なくFacebookに投稿することはありません。
          </div>
        </div>
      </div>
    
    </div>
  
  </div>
</div>